.circle1 {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: #2879f3;
    position: absolute;
    top: -65px;
    left: -45px;
}
.circle2 {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: #f37e10;
    position: absolute;
    right: -35px;
    bottom: -65px;
}